<li>
	<%= link_to question.question, edit_question_path(question) %> | 
	<% if current_user == question.user %>
			<%= link_to 'delete', question, method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>		
</li>