	<div class="center jumbotron">
	    <h1>Welcome to the JLPT Boot Camp Practice Test Center</h1>
	    <h2>
	      From here you can take the practice tests for the JLPT online.  Sign up for
	      a free account to take any of the practice tests.</h2>  
	    
	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary"%>
	</div>