<% provide(:title, 'Your Quizzes') %>
<h1>Your Quizzes</h1>

<%= will_paginate %>

<ul class="groupings">
	<% @groupings.each do |grouping| %>
		<%= render grouping %>
	<% end %>
</ul>

<%= will_paginate %>
